In [3]:
import pandas as pd

#Finish loading csv file using pandas in jupyter notebook.
colorfile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/colors.csv'
color = pd.read_csv(colorfile,index_col = 'id')

invefile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/inventories.csv'
inven = pd.read_csv(invefile,index_col = 'id')

invenPartsfile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/inventory_parts.csv'
inven_part = pd.read_csv(invenPartsfile,index_col = 'inventory_id')

invesetfile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/inventory_sets.csv'
inven_set = pd.read_csv(invesetfile,index_col = 'inventory_id')

partcatefile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/part_categories.csv'
part_categ = pd.read_csv(partcatefile,index_col = 'id')

partfile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/parts.csv'
part = pd.read_csv(partfile,index_col = 'part_num')

setsfile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/sets.csv'
sets = pd.read_csv(setsfile,index_col = 'set_num')

themesfile = '/Users/jingruma/Desktop/Data Science/Database Project2/lego-database/themes.csv'
theme = pd.read_csv(themesfile,index_col = 'id')

print(color.head())
print(inven.head())
print(inven_part.head())
print(inven_set.head())
print(part_categ.head())
print(part.head())
print(sets.head())
print(theme.head())

              name     rgb is_trans
id
-1         Unknown  0033B2        f
 0           Black  05131D        f
 1            Blue  0055BF        f
 2           Green  237841        f
 3  Dark Turquoise  008F9B        f
    version set_num
id
1         1  7922-1
3         1  3931-1
4         1  6942-1
15        1  5158-1
16        1   903-1
                 part_num  color_id  quantity is_spare
inventory_id
1                48379c01        72         1        f
1                   48395         7         1        f
1                mcsport6        25         1        f
1                  paddle         0         1        f
3             11816pr0005        78         1        f
              set_num  quantity
inventory_id
35            75911-1         1
35            75912-1         1
39            75048-1         1
39            75053-1         1
50             4515-1         1
                       name
id
1                Baseplates
2            Bricks Printed
3             Bricks Sloped
4   Duplo, Quatro and Primo
5            Bricks Special
                                                       name  part_cat_id
part_num
0687b1                          Set 0687 Activity Booklet 1           17
0901      Baseplate 16 x 30 with Set 080 Yellow House Print            1
0902      Baseplate 16 x 24 with Set 080 Small White Hou...            1
0903         Baseplate 16 x 24 with Set 080 Red House Print            1
0904      Baseplate 16 x 24 with Set 080 Large White Hou...            1
                               name  year  theme_id  num_parts
set_num
00-1                Weetabix Castle  1970       414        471
0011-2            Town Mini-Figures  1978        84         12
0011-3   Castle 2 for 1 Bonus Offer  1987       199          2
0012-1           Space Mini-Figures  1979       143         12
0013-1           Space Mini-Figures  1979       143         12
              name  parent_id
id
1          Technic        NaN
2   Arctic Technic        1.0
3      Competition        1.0
4   Expert Builder        1.0
5            Model        1.0
Index(['name', 'rgb', 'is_trans'], dtype='object')

In [7]:
#Show that column names are corrected. show the output of print (df.columns). 
print(color.columns)
print(inven.columns)
print(inven_part.columns)
print(inven_set.columns)
print(part_categ.columns)
print(part.columns)
print(sets.columns)
print(theme.columns)

Index(['name', 'rgb', 'is_trans'], dtype='object')
Index(['version', 'set_num'], dtype='object')
Index(['part_num', 'color_id', 'quantity', 'is_spare'], dtype='object')
Index(['set_num', 'quantity'], dtype='object')
Index(['name'], dtype='object')
Index(['name', 'part_cat_id'], dtype='object')
Index(['name', 'year', 'theme_id', 'num_parts'], dtype='object')
Index(['name', 'parent_id'], dtype='object')

In [13]:
#Check which columns have missing values of interest. show the output of print(df.isnull().any())
print(color.isnull().any())
print(inven.columns.isnull().any())
print(inven_part.isnull().any())
print(inven_set.isnull().any())
print(part_categ.isnull().any())
print(part.isnull().any())
print(sets.isnull().any())
print(theme.isnull().any())
#Replacing missing value by NA.
theme.isna()
print(theme.isnull().sum(axis = 0)) #theme dataset has 111 NAs in parent_id column
theme.dropna(axis=1,how='all')

name        False
rgb         False
is_trans    False
dtype: bool
False
part_num    False
color_id    False
quantity    False
is_spare    False
dtype: bool
set_num     False
quantity    False
dtype: bool
name    False
dtype: bool
name           False
part_cat_id    False
dtype: bool
name         False
year         False
theme_id     False
num_parts    False
dtype: bool
name         False
parent_id     True
dtype: bool
name           0
parent_id    111
dtype: int64

                       name  parent_id
id
1                   Technic        NaN
2            Arctic Technic        1.0
3               Competition        1.0
4            Expert Builder        1.0
5                     Model        1.0
6                   Airport        5.0
7              Construction        5.0
8                      Farm        5.0
9                      Fire        5.0
10                   Harbor        5.0
11                 Off-Road        5.0
12                     Race        5.0
13             Riding Cycle        5.0
14                    Robot        5.0
15                  Traffic        5.0
16               RoboRiders        1.0
17           Speed Slammers        1.0
18                Star Wars        1.0
19             Supplemental        1.0
20          Throwbot Slizer        1.0
21   Universal Building Set        1.0
22                  Creator        NaN
23              Basic Model       22.0
24                  Airport       23.0
25                   Castle       23.0
26             Construction       23.0
27                     Race       23.0
28                   Harbor       23.0
29                    Train       23.0
30                  Traffic       23.0
..                      ...        ...
585                Series 5      580.0
586                Series 6      580.0
587                Series 7      580.0
588                Series 8      580.0
589                Series 9      580.0
590                  Fusion        NaN
591                 Juniors        NaN
592  DC Comics Super Heroes      591.0
593         Disney Princess      591.0
594                 Fantasy      591.0
595                 Friends      591.0
596     Marvel Super Heroes      591.0
597                  Nijago      591.0
598             Promotional        NaN
599          LEGO Exclusive        NaN
600                   Elves        NaN
601         Speed Champions        NaN
602          Jurassic World        NaN
603              Scooby-Doo        NaN
604              Dimensions        NaN
605            Nexo Knights        NaN
606             Angry Birds        NaN
607            Ghostbusters        NaN
608                  Disney        NaN
609   The LEGO Batman Movie      535.0
610              Brickheadz        NaN
611   Series 17 Minifigures      535.0
612     Star Wars Episode 8      158.0
613              Freemakers      158.0
614                  Jungle       52.0

[614 rows x 2 columns]

In [14]:
#look into dtypes of data frames and try fixing data types of columns. 
print(color.dtypes)
print(inven.dtypes)
print(inven_part.dtypes)
print(inven_set.dtypes)
print(part_categ.dtypes)
print(part.dtypes)
print(sets.dtypes)
print(theme.dtypes)

#desribe data
print(color.describe())
print(inven.describe())
print(inven_part.describe())
print(inven_set.describe())
print(part_categ.describe())
print(part.describe())
print(sets.describe())
print(theme.describe())

name        object
rgb         object
is_trans    object
dtype: object
version     int64
set_num    object
dtype: object
part_num    object
color_id     int64
quantity     int64
is_spare    object
dtype: object
set_num     object
quantity     int64
dtype: object
name    object
dtype: object
name           object
part_cat_id     int64
dtype: object
name         object
year          int64
theme_id      int64
num_parts     int64
dtype: object
name          object
parent_id    float64
dtype: object
               name     rgb is_trans
count           135     135      135
unique          135     124        2
top     Chrome Gold  000000        f
freq              1       3      107
            version
count  11681.000000
mean       1.001541
std        0.057018
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        5.000000
            color_id       quantity
count  580251.000000  580251.000000
mean       78.472787       3.324730
std       622.238597       8.229816
min        -1.000000       1.000000
25%         1.000000       1.000000
50%        15.000000       2.000000
75%        71.000000       4.000000
max      9999.000000    1440.000000
          quantity
count  2846.000000
mean      1.375966
std       4.563002
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      60.000000
                       name
count                    57
unique                   57
top     Minifig Accessories
freq                      1
        part_cat_id
count  25993.000000
mean      19.491825
std       12.314862
min        1.000000
25%       13.000000
50%       13.000000
75%       27.000000
max       57.000000
               year      theme_id     num_parts
count  11673.000000  11673.000000  11673.000000
mean    2001.972758    311.308575    162.262400
std       13.475364    177.999101    330.192108
min     1950.000000      1.000000     -1.000000
25%     1997.000000    161.000000     10.000000
50%     2005.000000    324.000000     45.000000
75%     2012.000000    470.000000    172.000000
max     2017.000000    614.000000   5922.000000
        parent_id
count  503.000000
mean   274.294235
std    176.070151
min      1.000000
25%    126.000000
50%    264.000000
75%    430.000000
max    591.000000

# The columns I'm interested in are "part_num" "quantity""color" and "version"

# All dtypes are correct

In [15]:
#Again show the output of print(df.isnull().any()).
print(color.isnull().any())
print(inven.columns.isnull().any())
print(inven_part.isnull().any())
print(inven_set.isnull().any())
print(part_categ.isnull().any())
print(part.isnull().any())
print(sets.isnull().any())
print(theme.isnull().any())
theme.isna()

name        False
rgb         False
is_trans    False
dtype: bool
False
part_num    False
color_id    False
quantity    False
is_spare    False
dtype: bool
set_num     False
quantity    False
dtype: bool
name    False
dtype: bool
name           False
part_cat_id    False
dtype: bool
name         False
year         False
theme_id     False
num_parts    False
dtype: bool
name         False
parent_id     True
dtype: bool

      name  parent_id
id
1    False       True
2    False      False
3    False      False
4    False      False
5    False      False
6    False      False
7    False      False
8    False      False
9    False      False
10   False      False
11   False      False
12   False      False
13   False      False
14   False      False
15   False      False
16   False      False
17   False      False
18   False      False
19   False      False
20   False      False
21   False      False
22   False       True
23   False      False
24   False      False
25   False      False
26   False      False
27   False      False
28   False      False
29   False      False
30   False      False
..     ...        ...
585  False      False
586  False      False
587  False      False
588  False      False
589  False      False
590  False       True
591  False       True
592  False      False
593  False      False
594  False      False
595  False      False
596  False      False
597  False      False
598  False       True
599  False       True
600  False       True
601  False       True
602  False       True
603  False       True
604  False       True
605  False       True
606  False       True
607  False       True
608  False       True
609  False      False
610  False       True
611  False      False
612  False      False
613  False      False
614  False      False

[614 rows x 2 columns]